@charset "utf-8";

@import './reset.css';

body{
    width: 100vw;
    height: 100vh;
}

x-intro:not([open]) {
  display: none;
}

x-intro {

width: 100%;
height: 100%;

}


x-intro > img {

  height: 100%;
  width: 100%;
  object-fit: cover;
}



